.tab-nav-border{
    border: solid 5px #0e2737;
}

#active{
  color:#34CACA;
}

.is-active{
  cursor: pointer;
}

.img-uploads{
  width:250px;
  height:120px;
}

.active{
  transition: all .75s ease;
}

.list-group-item.active{
  background-color: #34CACA !important;
  border-color: white;
}

.studio-card a{
color: blue;
}