
.room-features-area {
    position: relative;
    z-index: 1; 
}
    .room-features-area h6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      flex: 0 0 23%;
      max-width: 25%;
      width: 15%;
      padding: 30px 15px;
      border-left: 1px solid #ebebeb;
      border-top: 1px solid #ebebeb;
      border-bottom: 1px solid #ebebeb;
      text-align: center;
      color: #afb4bf;
      line-height: 1.5;
      margin-bottom: 0; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .room-features-area h6 {
          font-size: 14px; } }
      @media only screen and (max-width: 767px) {
        .room-features-area h6 {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
          flex: 0 0 50%;
          max-width: 50%;
          width: 50%;
          font-size: 13px;
          padding: 20px 10px; } }
      .room-features-area h6 span {
        display: block;
        color: #2a303b; }
      .room-features-area h6:last-child {
        border-right: 1px solid #ebebeb; }

.single-studio-gallery{
    width:100%;
    padding-bottom:25px;
   
}



.image-gallery-image > img{
  height:500px !important;
  width: 100%;

}
.image-gallery-thumbnail-inner > img{
    height:50px !important;
    width: 100%;
}

.image-gallery-thumbnail-inner{
    height:50px !important;
    
}
.image-gallery-fullscreen-button::before {
    content: "View More" !important;
    font-size: 25px;
    border: solid 3px #1cc3b2;
    font-family: sans-serif;
}
.contact-btn{
    margin:20px;
}
.sh-text{
    color: #1cc3b2;
}
.select-book-time{
    font-size: .8em;
    border: solid 1px #0e2737;
  
}

.select-book-time-group{
    padding-bottom:25px;
    width:100%;
}

.add-time:hover{
   cursor: pointer;
}

.add-time{
   padding-bottom:25px;
 }

 .error{
     color:red;
    
 }

@media only screen and (max-width: 1000px) {
    .single-studio-gallery{
        width:100%;
        padding-bottom:25px;
    }
    .image-gallery-thumbnails {
       display:none;
    }


    }

.sticky-btn{
    position: sticky;
}